* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #4da6a6;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 1.5rem;
	padding: 50px;
}
h1 {
	font-size: 3rem;
	margin-bottom: 30px;
	border: 3px solid rgb(172, 22, 22);
	border-radius: 10px;
	text-align: center;
}

h2 {
	margin-bottom: 25px;
	text-align: center;
	background-color: greenyellow;
}

h3 {
	margin-bottom: 25px;
	text-align: center;
}

p {
	margin-bottom: 20px;
}

.first-par {
	color: indigo;
}

#name {
	background-color: aquamarine;
	border: 3px solid rgb(172, 22, 22);
	border-radius: 10px;
	width: 600px;
	padding: 20px;
	margin-top: 30px;
}

#paragraph2 {
	background-color: rgb(184, 214, 123);
}

input,
button {
	padding: 10px;
	font-size: 10px;
}

#name p {
	color: blueviolet;
}

#img1 {
	width: 300px;
}
